<ion-nav-bar class="bar-light">

	<ion-nav-title>
      <img class="fd-logo" src="img/page-logo.png">
    </ion-nav-title>
    <ion-nav-buttons side="right">
    
    	<a style="color: gray;" class="button button-icon icon ion-ios-search-strong" ></a> 
	    <a style="color: gray;" class="button button-icon icon ion-ios-home"></a> 
	    <a style="color: gray;" class="button button-icon icon ion-ios-person-outline" ng-click="popOverUser.show($event)"></a>
	    <a style="color: gray;" class="button button-icon icon ion-android-more-vertical" ng-click="popOverMore.show($event)"></a>
	    
	</ion-nav-buttons>
</ion-nav-bar>